// Specific CSS for your home-page
body {
  background-color: #333333;
  font-family: latin-sans-serif;
  text-align: center;
  // background-image: asset-url('fundo.jpg');
}

h1 {
  font-family: latin-sans-serif;
  color: white;
}

// ----------------------------------
#formcolor {
  color: white;
  font-size: 20px;
}

#texto {
  color: darkgoldenrod;
  font-style: italic;
  font-size: 40px;
}

#foto {
  background-image: asset-url('cod.jpg');
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}


#colorhome {
  color: white;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
}

// .row {
//   background-color: rgb(71, 71, 68);
// }

.typed-cursor {
  font-size: 50px;
}

.home-btn {
  margin-top: 250px;
}
