<h1 class='container text-center'>Active Auctions</h1>

<body class="body">
  <div class="container text-center">
    <% @auctions.each do |auction|%>
      <div class="card">
          <%= auction.initial_price %>
          <%= auction.item %></p>
        <%= link_to "View Details", auction_path(auction), class: "btn" %>
      </div>
      <br>
    <% end %>
    <div class="text-center">
      <%= link_to "Create a Auctions", new_auction_path, class: "btn" %>
    </div>
  </div>
</body>
