.btn {
  border-radius: 20px;
  border: 3px gold solid;
  margin: 30px;
  background-color: goldenrod;
  font-size: 22px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.btn-Search {
  border-radius: 20px;
  border: 3px gold solid;
  margin: 10px;
  padding: 3px 15px;
  background-color: goldenrod;
  font-size: 22px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}
