.card {
  background-color: #424242;
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 1px;
  box-shadow: 0 0 10px darkgoldenrod;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: darkgoldenrod;
  font-weight: bolder;
  text-shadow: 0 0 10px black;
  font-family: 'Noto Sans JP', sans-serif;}


.card-category {
  width: 350px;
  border-radius: 20px;
  text-align: center;
  background-color: #e7dfdf;
  font-size: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

.card-product {
  border-radius: 20px;
  overflow: hidden;
  height: 300px;
  background: darkgray;
  box-shadow: 0 0 15px darkgoldenrod;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.card-product-img {
  border-radius: 20px 20px 0 0px;
  object-fit: cover;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
font-family: 'Noto Sans JP', sans-serif;  text-align: left;
  font-size: 5px
}

.card-product h2 {
  font-size: 25px;
  font-weight: bold;
font-family: 'Noto Sans JP', sans-serif;  margin: 0;
}

.card-product h3 {
  font-size: 25px;
font-family: 'Noto Sans JP', sans-serif;}

.card-product p {
  font-size: 20px;
font-family: 'Noto Sans JP', sans-serif;  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-info {
  margin-top: 10px;
  p {
    margin: 0;
  }
}
