.card {
  background-color: #424242;
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 1px;
  box-shadow: 0 0 10px darkgoldenrod;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: darkgoldenrod;
  font-weight: bolder;
  text-shadow: 0 0 10px black;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  text-align: center;
  background-color: rgb(94, 255, 0);



}

.card-product {
  border-radius: 20px;
  overflow: hidden;
  height: 300px;
  background: darkgray;
  box-shadow: 0 0 15px darkgoldenrod;
  display: flex;
  align-items: center;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.card-product-img {
  // border-radius: 20px;
  // margin-left: 10px;
  height: auto;
  width: auto;
  object-fit: cover;
  // border: 5px solid white;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-align: left;
  font-size: 5px
}

.card-product h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin: 0;
}

.card-product h3 {
  font-size: 25px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.card-product p {
  font-size: 20px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
