.navbar-lewagon {
  justify-content: space-between;
  background: #6e6767;
  box-shadow: 0 0 10px darkgoldenrod;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.collapse {
  color: #f8f9fa;
}

.nav-item {
  color: white;
}
